DATABASE_TYPE=postgres
# DATABASE_URL=<copy your postgres db url form railwau>
MEDUSA_ADMIN_ONBOARDING_TYPE=nextjs
STORE_CORS=http://localhost:8000,http://localhost:7001
# REDIS_URL=<copy your redis url from railway>

# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=